    /* Master */
    
    .master {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 200px auto;
        gap: 10px;
    }
    /* container */
    
    .container {
        width: 100%;
        float: left;
        position: relative;
        display: grid;
        grid-template-columns: auto;
        gap: 10px;
    }
    
    .grid {
        min-width: 300px;
        width: 100%;
        border-radius: 10px;
        height: auto;
    }
    
    .box {
        background: #fff;
        margin: 10px;
        padding: 5px 20px;
        border-radius: 10px;
        overflow: hidden;
    }
    
    .status h5 {
        margin-top: -10px;
    }
    
    .status table {
        width: 100%;
        text-align: center;
    } 

    .status .infoStatus{
        width: 32px;
        height: 32px;
    }
    /* loading */
    .divloading{
        justify-content: center;
        display: flex;
        width: 100%;
    }
    .loading{
        width: 35px;
        height: 35px;
        border:4px solid rgb(107, 107, 107);
        border-top:4px solid rgb(255, 255, 255);
        border-radius:30px;
        opacity: 0.7;
        animation-name:rotation;
        animation-duration: 2s;
        animation-iteration-count: infinite;
    }
    @keyframes rotation {
        from {transform: rotate(360deg);}
    }
    /* Sidebar */
    
    .sidebar {
        background: #fff;
        height: 100vh;
        width: 200px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        position: relative;
        overflow: hidden;
        float: left;
        grid-column: 1;
    }
    
    .sidebar ul li {
        margin: 10px 25px;
    }
    
    .sidebar ul a li {
        width: 200px;
        padding: 10px;
        margin: 15px 10px;
        font-weight: 400;
    }
    
    .sidebar ul a li span {
        position: absolute;
        margin-top: -20px;
        margin-left: 35px;
    }
    
    .sidebar ul a li img {
        width: 20px;
        height: auto;
        margin: 0 5px;
    }
    
    .sidebar ul a li:hover {
        border-radius: 20px;
        background: #4562e3;
        color: #e5ebff;
        /* font-weight: 700; */
    }
    
    .title img {
        width: 150px;
        height: auto;
        display: block;
    }
    
    .menuactive {
        border-radius: 20px;
        background: #4562e3;
        color: #e5ebff;
        font-weight: 700;
    }

    .menuactive .display-light {
        display: none;
    }
    
    .menuactive .display-dark {
        display: block;
    }
    
    .inputcheck {
        position: absolute;
        width: 40px;
        height: 15px;
        background: #dfdfdf;
        border: 1px solid #cdcdcd;
        border-radius: 10px;
        bottom: 10px;
        right: 10px;
    }
    
    .inputcheck input {
        opacity: 0;
    }
    
    .inputcheck .dot {
        width: 13px;
        height: 13px;
        border-radius: 10px;
        background: #dddddd;
        border: 1px solid #555;
        transform: translateX(2px);
        float: left;
        opacity: 0.8;
    }
    
    .expand-arrow {
        position: absolute;
        width: 20px;
        height: 20px;
        bottom: 10px;
        left: 15px;
        transform: rotate(180deg);
    }
    
    .expand input {
        display: none;
    }
    
    #modelight:checked+.dot {
        transform: translateX(24px);
        font-style: italic;
    }
    
    #expand:checked+.expand-arrow {
        transform: rotate(0deg);
    }
    
    #expand:checked+.sidebar {
        width: 100px;
    }
    /* Progress bar */
    .progressbarloja{
        margin-left: 6%;
        float: left;
        width: auto;
        height: auto;
        font-size: 22px;
        font-weight: 700;
    }
    .progressbarvalor{
        margin-right: 6%;
        float: right;
        font-size: 22px;
        font-weight: 700;
    }
    .percent{
        width: 90%;
        height: 10px;
        border-radius: 20px;
        margin:40px 5%;
        overflow: hidden;
        background: #eee;
        margin-top: 3px;

    }
    .progress{
        background: rgb(205,128,18);
        background: linear-gradient(90deg, rgba(205,128,18,1) 0%, rgba(184,120,41,1) 46%, rgba(201,149,14,1) 100%); 
        height: 100%;
    }